body{
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: mintcream;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    color: brown ;
    
}

input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: blue;
    background-color:#fff;
    border-radius: 10px;
}

table{
    font-size: 20px;
    /*color:rgba(229, 12, 12, 0.895);*/
    color: maroon;
    margin: 60px;
    padding: 15px;
    padding-left: 40px;
    border-collapse: collapse;
    width: 91%;

}

td{
    text-align: left;
    padding: 8px;
    margin: 60px;

}
th {
    background-color: brown;
    color: aliceblue;
    text-align: left;
    padding: 8px;
    margin: 60px;}

tr:nth-child(even) {
    background-color: gainsboro;
}

.cabecalho{
    background-color: brown;
    color: aliceblue;
}


.buttom{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #fff;
    /*background-color: rgb(108, 93, 9);*/
    background-color: brown;
    border-radius: 10px;
}

.form-container{
    background-color:gainsboro;
    /*background-image: url('dicionario-de-ingles.jpg');*/
    margin: 60px;
    padding: 15px;
    padding-left: 60px;
    border-radius: 5px;
}

.home{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    color: black;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
}

.home a:hover{
    transition: 0.5s;
    color: red;
}
.msg-erro{
    margin: auto;
    margin-left: 20px;
    padding: auto;
    
}